@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
   background-color: rgb(var(--background-end-rgb));
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: rgb(var(--background-end-rgb)); */
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #000;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", "arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-blue {
  background-color: #184EE495;
}
.card-red {
  background-color: #FF004095;
}
